@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #746465 transparent;
  scroll-behavior: smooth;
}
/* //? MUI Styling */

.mui-message-box .MuiInputAdornment-positionStart svg {
  margin-top: -4.5rem !important;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-thumb {
  background: #5b50a1;
  border-radius: 10em;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@layer components {
  .main-container {
    @apply container mx-auto px-6;
  }
  .heading-style {
    @apply font-semibold text-3xl tracking-wider;
  }
  .delay-animation {
    @apply !transition-all !ease-in-out !duration-500;
  }
}
